@model IEnumerable<EasySpents.Models.Spent>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Func<EasySpents.Models.Spent, object> spentTemplate = @<tr>
        <td>@item.Name</td>
        <td>@item.DateTime</td>
        <td>@item.Amount</td>
        <td><a asp-page="/Edit/{id}"><i class="fa fa-pencil"></i></a></td>
        <td><a asp-page="/Delete/{id}"><i class="fa fa-trash"></i></a></td>
    </tr>;
}

<div class="container">
    <div class="form-element-group">
        <input id="spent-filter" type="text" class="form-element" placeholder="{{ menu.filter }}">
        <span class="form-element-extra"><i class="fa fa-filter"></i></span>
    </div>
</div>

<div class="container">
    @* Filter results *@
    <table class="table">
        <thead>
            <tr>
                <th>{{ spent.name }}</th>
                <th>{{ spent.date }}</th>
                <th>{{ spent.amount }}</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var spent in Model)
            {
                @spentTemplate(spent);
            }
        </tbody>
    </table>
</div>