<!DOCTYPE HTML>

<html>
<head>
    <title>Spent - @ViewData["Title"]</title>

    <environment include="Development">
        <link href="~/css/schema.css" rel="stylesheet" type="text/css" />
    </environment>

</head>
<body>
    <header class="nav">
        <div class="container">
            <div class="row">
                <div class="brand">
                    <a href="#" class="">Brand</a>
                </div>
                <nav class="right-float">
                    <a href="#" class="btn-pill">{{ navigation.home }}</a>
                    <a href="#" class="btn-pill">{{ navigation.spents }}</a>
                    <a href="#" class="btn-pill">{{ navigation.about }}</a>
                    <a href="#" class="btn btn-pill btn-primary-outline">{{ navigation.admin }}</a>
                </nav>
            </div>
        </div>
    </header>
    <div class="container-fluid body-content">
        <div class="row-fluid">
            @RenderBody()
        </div>
    </div>
</body>
@RenderSection("Scripts", required: false)
<script src="https://kit.fontawesome.com/f18fa65c08.js" crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="~/js/global.js"></script>
<script type="text/javascript" src="~/js/less.js"></script>
<script type="text/javascript" src="~/js/jquery-1.11.1.min.js"></script>
-->
</html>






